<%= provide(:title, 'About') %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, cumque. Magnam repellat saepe eos deleniti veritatis alias, commodi veniam fugit, quos ipsum quod reiciendis molestias cumque? Inventore deserunt quae sit, debitis quasi delectus cupiditate quidem eveniet ipsam aliquam, ab expedita adipisci commodi accusamus eum labore, repellat saepe, dolores voluptatum vero perspiciatis a. Libero perferendis itaque recusandae aperiam quidem nostrum, nam labore reprehenderit. Aperiam quo quos ducimus, esse vitae suscipit dolores numquam architecto incidunt illo ipsam aliquid tenetur, sequi enim maiores nam, dolore ipsum sapiente aut ut cupiditate voluptate. Nemo eos ipsam, eaque nisi neque ratione? Quam, ut, obcaecati. Aspernatur, sed!</p>
	</div>
</div>
