<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<h1>Editing user</h1>

		<%= render 'form', submit_text: "Save changes" %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	</div>
</div>
